<!DOCTYPE html>
<html ng-app="TttApp">
<head>
	<link rel="stylesheet" href="css/normalize.css">
    	<link rel="stylesheet" href="css/style.css">
	<title>DJ Tic-Tac-Toe</title>
</head>
<header></header>
<body>
<div id="container">
	<h1>DJ Tic-Tac-Toe</h1>

	<div id="inner_container">
	<div id="player1display">
		<h1>Sean</h1>
		<p>Games Won:</p>
		<h2>0</h2>
		<input type="text">
	</div>

	<div id="player2display">
		<p>{{ 3+1 }}</p>
	</div>

	<div id="game_container" ng-controller="TttController as ttt">

		<div class="cell"  ng-repeat="cell in ttt.Board" ng-click="ttt.click($index)">
			{{cell.occupied}}
		</div>

	</div>
	</div>

	<!--Sourcing Angular-->
	<script type="text/javascript" charset="UTF-8" src="js/angular.min.js"></script>
	<!-- Source in module -->
	<script type="text/javascript" src="js/main.js"></script>
	<!-- Source in controller -->
	<script type="text/javascript" src="js/TttController.js"></script>
	<!-- Source in customer filter -->
</div>
</body>
</html>